@use "variables" as v;
.tab{
    .tab-btn-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 28px;
        button{
            font-size: 16px;
            color:v.$font-dark-gray;
            &.on{
                color:v.$main-black;
            }
        }
    }
}